{# And xml template for exporting in a qti file #}
<?xml version="1.0" encoding="UTF-8"?>
<questestinterop xmlns="http://www.imsglobal.org/xsd/ims_qtiasiv1p2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.imsglobal.org/xsd/ims_qtiasiv1p2 http://www.imsglobal.org/xsd/ims_qtiasiv1p2p1.xsd">
    <assessment ident="{{ examQuestionId }}" title="{{ examTitle }}">
        <qtimetadata>
            <qtimetadatafield>
                <fieldlabel>cc_maxattempts</fieldlabel>
                <fieldentry>{{ max_attempts }}</fieldentry>
            </qtimetadatafield>
        </qtimetadata>
        <section ident="root_section">
        {{ questionText|raw}}
        </section>
    </assessment>
</questestinterop>